In [6]:
import pandas as pd
df=pd.read_csv("spam.csv",encoding="windows-1252")

In [8]:
df.shape

(5572, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
df.dtypes

v1            object
v2            object
Unnamed: 2    object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

df.drop(columns=["Unnamed: 2",])

In [15]:
df.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace=True)

In [27]:
df.rename(columns={"v1":"target","v2":"text"},inplace=True)

In [29]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["target"] = encoder.fit_transform(df["target"])
df.sample(5)

      target                                               text
1379       1  No. 1 Nokia Tone 4 ur mob every week! Just txt...
2117       0  Wish u many many returns of the day.. Happy bi...
2572       0  The house is on the water with a dock, a boat ...
4580       0  Not course. Only maths one day one chapter wit...
5531       0  Compliments to you. Was away from the system. ...